<div class="layout">
  <div class="row">
    <!-- <div *ngIf="imageSrc" class="col-md-6">
      <img [src]="imageSrc">
    </div> -->
    <div class="col-md-6">
      <pre *ngFor="let line of codeLines;" [ngStyle]="{'background-color': shouldHighlightRow(line) ? '#abecff' : ''}"
        class="prettyprint lang-js">
        {{line}}
      </pre>
    </div>
    <div class="col">

      <button type="button" class="btn btn-dark" style="margin-left: 100px;" (click)="incrementDisplayBlockNumber()"
        *ngIf="displayBlockNumber === 0">Start</button>
      <button type="button" class="btn btn-dark" style="margin-left: 100px;" (click)="decrementDisplayBlockNumber()"
        *ngIf="displayBlockNumber > 0">Back</button>
      <button type="button" class="btn btn-dark" style="margin-left: 10px;" (click)="incrementDisplayBlockNumber()"
        *ngIf="displayBlockNumber !== 0 && displayBlockNumber < this.allExamples.length - 1 ">Next</button>

      <table class="table table-bordered" *ngIf='example'>
        <tbody>
          <tr *ngFor="let key of rowKeys; let i = index;">
            <th scope="row">{{rowTitles[key]}}</th>
            <div [ngClass]="getChipClassToApply(i)"   *ngFor="let x of example[key]">
              <td colspan="2">{{x}}</td>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>